---
// src/components/ProductCardList.astro

import RopaCard from "./ProductCard/RopaCard.astro";
import ZapatillaCard from "./ProductCard/ZapatoCard.astro";
import AccesorioCard from "./ProductCard/AccesorioCard.astro";

import {
  type Ropa,
  type Zapatilla,
  type Accesorio,
  Category,
  type BaseProduct,
} from "../types/Product";
import ProductoSection from "./ProductCard/ProductoSection.astro";

const ropa: Ropa[] = [
  {
    id: 1,
    title: "Camisa Algodón",
    price: 89.9,
    images: [
      "https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg",
      "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
    ],
    description: "",
    color: ["blue", "black", "yellow"],
    category: Category.ROPA,
    subcategory: "camisas",
    material: "Algodón",
    talla: "M",
    rating: 4.5,
  },
  {
    id: 1,
    title: "Camisa Algodón",
    price: 89.9,
    images: [
      "https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg",
      "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
    ],
    description: "",
    color: ["blue", "black", "yellow"],
    category: Category.ROPA,
    subcategory: "camisas",
    material: "Algodón",
    talla: "M",
    rating: 4.5,
  },
];

const zapatillas: Zapatilla[] = [
  {
    id: 2,
    title: "Zapatilla Urbana",
    price: 159.9,
    images: [
      "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
      "https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg",
      "https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg",
    ],
    description: "",
    color: ["green", "orange", "blue"],
    category: Category.CALZADO,
    subcategory: "zapatillas",
    material: "Sintético",
    talla: "42",
    tipoSuela: "Goma",
    rating: 3,
  },
];

const accesorios: Accesorio[] = [
  {
    id: 3,
    title: "Collar de Plata",
    price: 199.9,
    images: [
      "https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg",
      "https://fakestoreapi.com/img/61sbMiUnoGL._AC_UL640_QL65_ML3_.jpg",
      "https://fakestoreapi.com/img/51UDEzMJVpL._AC_UL640_QL65_ML3_.jpg",
    ],
    description: "",
    color: ["gold", "silver"],
    category: Category.ACCESORIOS,
    subcategory: "collares",
    material: "Plata 925",
    uso: "Casual",
    rating: 3.5,
  },
];

const productos: BaseProduct[] = [...ropa, ...zapatillas, ...accesorios];
console.log(productos);
const grouped = productos.reduce(
  (acc, item) => {
    if (!acc[item.category]) {
      acc[item.category] = [];
    }
    acc[item.category].push(item);
    return acc;
  },
  {} as Record<Category, BaseProduct[]>
);
---

<div class="flex flex-col gap-8 px-4">
  {
    grouped[Category.ROPA] && (
      <ProductoSection
        product={grouped[Category.ROPA]}
        category={Category.ROPA}
      />
    )
  }
  {
    grouped[Category.CALZADO] && (
      <ProductoSection
        product={grouped[Category.CALZADO]}
        category={Category.CALZADO}
      />
    )
  }
  {
    grouped[Category.ACCESORIOS] && (
      <ProductoSection
        product={grouped[Category.ACCESORIOS]}
        category={Category.ACCESORIOS}
      />
    )
  }
</div>
